@namespace CG.Blazor.Forms
@typeparam T

@using Microsoft.AspNetCore.Components.Forms

<div class="dynamic-form-wrapper">
    @if (NoForm)
    {
        @GenerateFormBody()
    }
    else
    {
        <EditForm Model="@Model" 
                  OnInvalidSubmit="@OnInvalidSubmit" 
                  OnValidSubmit="@OnValidSubmit"
                  OnSubmit="@OnSubmit">
            @if (!ChildContentAfter)
            {
                @ChildContent
            }
            @GenerateFormBody()
            @if (ChildContentAfter)
            {
                @ChildContent
            }
            <br />
            <div class="dynamic-form-buttons">
                <button class="btn dynamic-form-submit" type="submit">Submit</button>
                @if (ShowResetButton)
                {
                    <button class="btn dynamic-form-reset" type="reset">Reset</button> 
                }
	        </div>
        </EditForm>

    }
</div>

<style>
.dynamic-form-wrapper {
    margin: 5px;
}

.dynamic-form-buttons {
    display: flex; 
    margin: 5px;
}

.dynamic-form-reset {    
    margin-left: auto
}

.dynamic-form-submit {
    
}
</style>